<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div sec:authorize="isAnonymous()">
    <h2>hello world</h2>
    <button th:onclick="|location.href = '/user/login'|">로그인</button>
    <button th:onclick="|location.href = '/user/signup'|">회원가입</button>
</div>
<div sec:authorize="isAuthenticated()">
    <h2>반갑습니다.<span sec:authentication="name"></span>님!</h2>
    <form th:action="@{/user/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
</body>
</html>
